body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffecd2, #fcb69f);
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

/* العنوان */
h1 {
  margin-top: 20px;
  margin-bottom: 50px; /* مسافة تحت العنوان */
}

#message {
  font-size: 20px;
  height: 30px;
}

/* الكلمة (قريبة من السلات وبعيدة عن العنوان) */
#fallingWord {
  position: absolute;
  top: 300px; /* مكان متوسط */
  left: 50%;
  transform: translateX(-50%);
  background: #6c5ce7;
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* السلات */
.boxes {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box {
  width: 180px;
  height: 120px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 4px solid transparent;
}

/* لما الكلمة تتحدد */
.box.active {
  border: 4px dashed #fdcb6e;
}

/* صح */
.box.correct {
  background: #55efc4;
  border-color: #00b894;
}

/* غلط */
.box.wrong {
  background: #ff7675;
  border-color: #d63031;
}

/* زر الرجوع */
#backBtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #0984e3;
  color: white;
  cursor: pointer;
}
