body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size: 36px;
}

.game-box {
  background: white;
  width: 380px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.game-box img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.answer-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.answer-slot {
  width: 40px;
  height: 40px;
  border: 2px dashed #0984e3;
  margin: 5px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 8px;
}

.letters-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.letter {
  width: 45px;
  height: 45px;
  background: #74b9ff;
  color: white;
  margin: 5px;
  line-height: 45px;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}

#message {
  font-size: 20px;
  margin-top: 15px;
}

#nextBtn {
  display: none;
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #00b894;
  color: white;
  cursor: pointer;
}
