body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 32px;
}

/* الكلمات */
.words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.word {
  background: #e284dd;
  color: white;
  padding: 12px 22px;
  margin: 8px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  border: 4px solid transparent;
  transition: 0.2s;
}

/* تحديد الكلمة */
.word.selected {
  border: 4px dashed #89eebb;
  background: #6c5ce7;
  transform: scale(1.1);
}

/* الصور (5 فوق و5 تحت) */
.pictures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin: 20px;
  justify-items: center;
}

.picture {
  background: white;
  width: 140px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  cursor: pointer;
  padding: 10px;
  border: 4px solid transparent;
  transition: 0.2s;
}

/* الصور لما كلمة تتاخد */
.picture.active {
  border: 4px solid #ec8ed5;
}

/* الصح */
.picture.correct {
  background: #55efc4;
  border: 4px solid #92dff7;
}

.picture img {
  width: 100px;
  height: 100px;
}

.slot {
  margin-top: 8px;
  padding: 6px;
  border: 2px dashed #96bcda;
  border-radius: 8px;
  min-height: 24px;
  font-weight: bold;
}

#message {
  font-size: 22px;
  margin: 15px;
}

#backBtn {
  display: none;
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: #6c5ce7;
  color: white;
  cursor: pointer;
}
